---
import Layout from "../layouts/Layout.astro";
---

<Layout> 

    <div class="flex flex-col gap-4">
        <div>
            <h2>Top Movies</h2>
            </TopMoviesList />
        </div>
    </div>
</Layout>
